@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    position: relative; /* Updated to allow chatbot positioning */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: black;
}

h3 {
    color: #444;
}

.btn {
    background-color: green;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    background-color: white;
    color: green;
    padding: 3px 8px;
    border: 2px solid green;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;

}

.side-menu {
    position: fixed;
    background: green;
    width: 5vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: width 0.5s ease; /* Made the transition faster */
    left: 0;
    top: 0;
    z-index: 100; /* Ensure it's above other elements */
}

.side-menu:hover {
    width: 20vw;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu .brand-name img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: flex;
    margin-left: 90px;
    height: auto;
    border-radius: 50%;
}
.side-menu .brand-name h1{
    margin-left: 20px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: normal;
    /*teks akan terus satu baris sampai ketemu tag<br>*/

  }

.side-menu li {
    font-size: 18px;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: white;
    color: green;
}

.container {
    position: absolute;
    right: 0;
    width: calc(100vw - 5vw);
    height: 100vh;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 5vw);
    height: 5vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .header .nav .search button img {
    width: 30px;
    height: 30px;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-around;

    align-items: center;
}

.container .header .nav .user img {
    width: 40px;
    height: 40px;
}

.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

.container.content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
    flex: 5;
    min-height: 50vh;
    background: white;
    margin: 0px 25px 25px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    height: 310px;
}

.container .content .content-2 .new-students {
    flex: 2;
    min-height: 50vh;
    background: white;
    margin: 0px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    height: 310px;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

/* Chatbot */
.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: green;
    transition: all 0.2s ease;
    z-index: 100; /* Ensure the chatbot is always visible */
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    color: #fff;
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    z-index: 200; /* Ensure it's above everything else */
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: green;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
    position: relative;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: green;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: green;
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}

.chat-input span {
    align-self: flex-end;
    color: green;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid~span {
    visibility: visible;
}
@media screen and (max-width: 1170px) {
    .side-menu li {
        font-size: 18px;
    }

    .container .header {
        height: 12vh;
    }
}
@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }

    .side-menu {
        align-items: center;
    }

    .side-menu li img {
        height: 30px;
        width: 30px;
    }

    .side-menu li:hover {
        background: green;
        padding: 8px 38px;
        border: solid 2px white;
    }
}
@media screen and (max-width: 931px){
    .recent-payments table th:nth-child(2),
    .recent-payments table td:nth-child(2) {
        display: none;
    }
    @media screen and (max-width: 679px){
        .recent-payments table th:nth-child(3),
        .recent-payments table td:nth-child(3) {
            display: none;
        }
    }
}
@media screen and (max-width: 536px) {
    .brand-name h1 {
        font-size: 16px;
    }

    .container .content .cards {
        justify-content: center;
    }

    .side-menu li img {
        width: 30px;
        height: 30px;
    }

    .container .content .content-2 .recent-payments table th:nth-child(3),
    .container .content .content-2 .recent-payments table td:nth-child(3) {
        display: block;
    }
}

@media (max-width: 490px) {
    .side-menu li img {
        height: 20px;
        width: 20px;
    }
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }

    .chatbot .chat-input {
        padding: 5px 15px;
    }

    .chatbot header span {
        display: block;
    }
}
@media screen and (max-width: 438px) {
    .container .content .content-2 .recent-payments table th:nth-child(3),
    .container .content .content-2 .recent-payments table td:nth-child(3) {
        display: block;
    }
}
@media screen and (max-width: 382px){
    .container .content .content-2 .recent-payments table th:nth-child(3),
    .container .content .content-2 .recent-payments table td:nth-child(3) {
        display: none;
        height: fit-content;
    }
}